<h1> Create Post </h1> 
<form id="my-form">
 
  <label for="field1">Song_ID:</label>
    <input type="text" id="song_id" name="song_id"><br>
  
    <label for="field2">Comment:</label>
    <input type="text" id="text_blurb" name="text_blurb"><br>
  
    <button type="button" onclick="submitForm()">Submit</button>
  </form>
<h1> Delete Post </h1>
  <form id="my-form2">
    <label for="field1">Post_ID:</label>
    <input type="text" id="post_id" name="post_id"><br>
    <button type="button" onclick="submitForm1()">Submit</button>
  </form>
  <h1> Add Friend </h1>
  <form id="my-form3">
    <label for="field1">Post_ID:</label>
    <input type="text" id="post_id" name="post_id"><br>
    <button type="button" onclick="submitForm('/secure/post/delete','my-form2')">Submit</button>
  </form>

  

  
  <script>
  function submitForm(endpoint, form ) {
    // Get the form data
    const formData = new FormData(document.getElementById(form));
  
    // Convert form data to JSON object
    const jsonObject = {};
    for (const [key, value] of formData.entries()) {
      jsonObject[key] = value;
    }
  
    // Submit form data as JSON object
    const xhr = new XMLHttpRequest();
    xhr.open('POST', endpoint);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify(jsonObject));
  }
 