.create-post {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    left: -1rem;
  }
  
  .create-post input {
    width: 100%;
    max-width: 200px;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
  }
  
  .create-post input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .create-post button {
    width: 100%;
    max-width: 200px;
  }

  .search {
    display: flex;
    align-items: stretch;
    
  }
  .input {
    position: relative;
    left: 1rem;
  }
  
  .search input {
    padding: 0.4rem 0.8rem;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
  }
  
  .search input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .search button {
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 25px;
    background-color: #1db954;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  .search button:hover {
    background-color: #1ed760;
  }
